<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% for mod in mods_info %}
<p>
<a name="modheader_{{mod.modid}}"></a>
<img height="32" align="middle" src="/static/img/modicon.png">
<strong>{{mod.name}}</strong> (отметилось {{mod.votes}} человек)
<a href="{{ url_for('index') }}?selected_modid={{mod.modid}}">[Поставить свои отметки]</a>
<table style="margin-left:2em;">
	{% for pers in mod.persons %}
	<tr>
		<td><img height="32" src="/static/img/{{pers.alias}}.png"></td>
		<td><strong>{{pers.name}}</strong></td>
		<td><script> document.write(Array({{pers.trust}}).join("▒")) </script> ({{pers.trust}}%)</td>
	</tr>
	{% endfor %}
</table>
</p>
<hr>
{% endfor %}
{% endblock %}
