Package: org.salieff.esmodinstaller
Name: ES Mod Installer
Version: 0.9-2
Section: utils
Depends: firmware (>= 5.0)
Architecture: iphoneos-arm
Description: Everlasting Summer mods installer
 Utility which provides iOS-converted and verified mod-packs.
 Allows install, remove, update mod-packs, read descriptions and vote with likes/dislikes.
Homepage: https://github.com/salieff/es_mod_installer
Author: Alexander S. Salieff <salieff@mail.ru>
Maintainer: Alexander S. Salieff <salieff@mail.ru>
Installed-Size: 35980
