<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form action="sendpersons" method="post">
	<p>
	Пожалуйста, выберите мод, в который вы играли, и отметьте персонажей, участвующих в нем.
	</p>
	<p>
	<select id="modMenu" name="modId" size="1">
		<script>
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '{{json_path}}', false);
		xhr.send();

		if (xhr.status != 200)
		{
			alert(xhr.status + ': ' + xhr.statusText);
		}
		else
		{
			var mods = JSON.parse(xhr.responseText);
			var select = document.getElementById('modMenu');
			mods.packs.forEach(function(item, i, arr) {
					var opt = document.createElement('option');
					opt.value = item.idmod;
					opt.innerHTML = item.title;
					select.appendChild(opt);
					});
		}
		</script>
	</select>
	</p>
	<p>
	{% for person_array in [primary_persons, secondary_persons] %}
	<table>
		<tr>
			{% for person in person_array %}
			<td align="center"><img src="/static/img/{{person.alias}}.png"></td>
			{% endfor %}
		</tr>
		<tr>
			{% for person in person_array %}
			<td align="center"><input type="checkbox" name="{{person.alias}}" value="1">{{person.name.decode('utf-8')}}</td>
			{% endfor %}
		</tr>
	</table>
	{% endfor %}
	</p>
	<p>
	Персонажей, не обозначенных чекбоксами, впишите в это поле через запятую:<br>
	<input name="other_persons" size="80">
	</p>
	<input type="submit" value="Отправить">
</form>
{% endblock %}
